{% extends "layout.twig" %}

{% block content %}
	<h1>Dashboard</h1>
	<ul>
		<li><a href="/portafolio/users/add">Add User</a></li>
		<li><a href="/portafolio/jobs/add">Add Job</a></li>
		<li><a href="/portafolio/projects/add">Add Project</a></li>
	</ul>
	<br><br>
	<a href="/portafolio/logout">Logout</a>
{% endblock %}